.drawer-item-box {
  padding: 10px 30px;
  &:hover {
    background: rgba(0, 112, 91, 0.1);
  }
}
.drawer-item-text {
  font-size: 18px;
}
.drawer-item-text-expression {
  font-family: "NotoSansKR-Medium";
  font-size: 20px;
  color: $primaryColor;
}
