.home-location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 286px;
  margin-top: -10px;
  background-color: #e5e5e5;
}
.home-location-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 322px;
  height: 216px;
}

.home-location-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 18px;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.16);
  background-color: white;
}
.home-location-item-text {
  font-family: "NotoSansKR-Medium";
  font-size: 15px;
  margin-top: 5px;
  color: $primaryColor;
}
.home-location-item-disabled {
  background-color: #fafafa;
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.home-active-store-container {
  width: 354px;
  margin: 0 auto;
  margin-top: 30px;
}
.home-active-store-title {
  font-family: "NotoSansKR-Bold";
  font-size: 18px;
  color: $primaryColor;
}
.home-survey-container {
  position: relative;
  width: 374px;
  height: 114px;
  padding: 20px 0 20px 36px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: $primaryColor;
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.home-survey-title {
  display: block;
  font-family: "NotoSansKR-Bold";
  font-size: 10px;
  color: white;
  margin-bottom: 10px;
}
.home-survey-text {
  font-family: "NotoSansKR-Medium";
  font-size: 16px;
  color: white;
}
.home-survey-icon {
  position: absolute;
  top: 35px;
  right: 40px;
}
.home-crowdy-intro-container {
  position: relative;
  width: 374px;
  height: 124px;
  padding: 20px 0 20px 30px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 18px;
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.16);
}
.home-crowdy-intro-see-more-container {
  position: absolute;
  top: 22px;
  right: 26px;
}

.home-crowdy-intro-see-more-text {
  font-size: 8px;
  margin-right: 4px;
}
.home-crowdy-intro-see-more-icon {
  transform: rotate(180deg);
}
.home-crowdy-intro-title {
  display: block;
  font-family: "NotoSansKR-Medium";
  font-size: 18px;
  margin-bottom: 10px;
}
.home-crowdy-intro-question {
  font-family: "NotoSansKR-Bold";
  color: $primaryColor;
}
.home-crowdy-intro-text {
  font-family: "NotoSansKR-Light";
  font-size: 14px;
}
.home-crowdy-intro-icon {
  position: absolute;
  top: 35px;
  right: 40px;
}
