.map-user-current-location-button {
  position: absolute;
  top: 16px;
  right: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  z-index: 99;
}
.map-store-list-button {
  position: absolute;
  top: 60px;
  right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 42px;
  border-radius: 8px;
  background-color: white;
  z-index: 99;
}
