@font-face {
  font-family: "SF Pro Display ";
  src: url(../fonts/sf-pro-display/SF-Pro-Display-Regular.otf), format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/sf-pro-display/SF-Pro-Display-Semibold.otf), format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/sf-pro-display/SF-Pro-Display-Bold.otf), format("opentype");
  font-weight: bolder;
}

* {
  font-family: SF sf-pro-display;
  font-weight: normal;
}

.page {
  width: 414px;
  margin: 0 auto;
}

.detail-container {
  width: 334px;
  margin: 0 auto;
  padding: 0;
}
.detail-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 74px 0 16px 0;
}

.back-button {
  position: absolute;
  top: 46px;
  left: -10px;
}

.back-button-icon {
  margin-left: 10px;
}

.detail-header-logo {
  width: 70px;
  border-radius: 35px;
}
.detail-header-center {
  display: flex;
  flex-direction: column;
  width: 130px;
  margin-left: 14px;
}
.detail-header-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
}
.detail-header-review {
  display: flex;
  align-items: center;
}
.detail-header-review-text {
  font-size: 14px;
}
.detail-header-space {
  flex: 1;
}

.detail-header-crowdy-box-default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: $defaultGrey;
}
.crowdy-box-active {
  background-color: $primaryColor;
}
.detail-header-crowdy-status {
  margin-top: 2px;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}
.detail-sub-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.detail-default-text {
  font-size: 14px;
}

.detail-sub-header-first {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 6px;
}
.detail-sub-header-phone {
  display: flex;
  align-items: center;
}
.detail-sub-header-phone-number {
  margin-left: 16px;
}

.detail-sub-header-open {
  display: flex;
  align-items: center;
  color: $defaultRed;
}

.detail-sub-header-open-text {
  font-size: 16px;
  font-weight: normal;
  margin-left: 8px;
}

.detail-sub-header-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
.detail-sub-header-address {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-sub-header-address-text {
  margin-left: 16px;
}

.detail-sub-header-furniture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94px;
}
.detail-sub-header-table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-sub-header-chair {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.detail-images-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.detail-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 328px;
  height: 308px;
}

.detail-image {
  width: 154px;
  height: 144px;
  background-color: white;
  border-radius: 12px;
  object-fit: cover;
}

.detail-see-more-image {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.detail-see-more-image-text {
  margin-right: 4px;
  font-weight: bold;
  font-size: 12px;
  color: $defaultGrey;
}
