.detail-container {
  margin: 0 auto;
  padding: 0 10px;
}

.detail-see-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 324px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.detail-see-map-text {
  margin-left: 10px;
  font-size: 16px;
}

.store-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  margin: 0 auto;
}
.back-button {
  position: absolute;
  top: 46px;
  left: -10px;
}

.back-button-icon {
  margin-left: 10px;
}

.store-header-logo {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  object-fit: cover;
}
.store-header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  margin-left: 18px;
}

.store-header-hashtag {
  font-size: 9px;
  color: $primaryColor;
  margin-bottom: -2px;
}

.store-header-title {
  font-family: "NotoSansKR-Medium";
  margin-bottom: 3px;
  font-size: 18px;
}
.store-header-review {
  display: flex;
  align-items: center;
}
.store-header-review-text {
  font-size: 12px;
}

.store-header-crowdy-box-default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 32px;
  border: 0.6px solid $defaultGrey;
  border-radius: 6px;
  margin: 2px 0 5px 0;
}
.crowdy-box-active {
  border: 0.6px solid $primaryColor;
}

.store-header-crowdy-open {
  font-family: "NotoSansKR-Bold";
  color: $primaryColor;
  font-size: 15px;
}

.store-header-crowdy-close {
  font-family: "NotoSansKR-Bold";
  color: $defaultGrey;
  font-size: 15px;
}

.store-header-crowdy-status-live {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-header-crowdy-status-live-text {
  font-size: 10px;
  color: $defaultGrey;
  margin-right: 4px;
}

.crowdedness-green {
  color: $primaryColor;
}
.crowdedness-blue {
  color: $defaultBlue;
}
.crowdedness-orange {
  color: $defaultOrange;
}
.crowdedness-red {
  color: $defaultRed;
}

.store-sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-sub-header-margin-left {
  margin-left: 8px;
}

.store-default-text {
  font-size: 14px;
}

.store-sub-header-first {
  display: flex;
  justify-content: space-between;
  width: 310px;
  height: 20px;
  margin-bottom: 10px;
}
.store-sub-header-phone {
  display: flex;
  align-items: center;
}

.store-sub-header-second {
  width: 310px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store-sub-header-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-sub-header-open {
  display: flex;
  align-items: center;
}
.store-sub-header-open-text-box {
  font-size: 14px;
  margin-left: 6px;
}

.store-sub-header-open-text {
  margin-left: 4px;
}

.store-images-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.store-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 328px;
  height: 308px;
}

.store-image {
  width: 154px;
  height: 144px;
  background-color: white;
  border-radius: 12px;
  object-fit: cover;
}

.detail-see-more-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 32px 20px 0;
}

.detail-see-more-image-text {
  font-family: "NotoSansKR-Medium";
  font-size: 12px;
  margin-right: 4px;
  color: $defaultGrey;
}

.detail-see-more-image-icon {
  margin-top: 3px;
}
