.tab-container {
  width: 414px;
  margin: 0 auto;
}

.fixed-active {
  position: fixed;
  top: 80px;
  width: 414px;
  padding-top: 10px;
  background-color: white;
  z-index: 1;
}

.tab-content-anchor {
  width: 100%;
  height: 82px;
  background-color: white;
}

.tab-content-anchor-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.tab-content-anchor-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.tab-content-anchor-text {
  font-family: "NotoSansKR-Regular";
  font-size: 12px;
  color: $primaryColor;
  padding: 7.4px 14px;
}

.empty-tab-buttons {
  width: 100%;
  height: 123px;
}
.tab-buttons {
  display: flex;
}

.tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 40px;
  color: $defaultGrey;
  border-bottom: 1px solid $defaultGrey;
}

.tab-button-active {
  border-bottom: 2px solid $primaryColor;
}

.tab-button-text {
  font-weight: bold;
  font-size: 12px;
}

.tab-button-text-active {
  color: $primaryColor;
}

.deactivated {
  display: none;
}

.menu-tab {
  padding-bottom: 30px;
}

.tab-content-title-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 40px;
  border-bottom: 1px solid $defaultGrey;
  border-top: 1px solid $defaultGrey;
}

.title-add-margin-top {
  padding-top: 10px;
}

.tab-title {
  font-family: "NotoSansKR-Bold";
  font-size: 20px;
  color: $primaryColor;
}

.menu-size {
  position: absolute;
  right: 30px;
  font-family: "NotoSansKR-Light";
  font-size: 12px;
  color: $primaryColor;
}

.menu-scroll-box {
  height: 334px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.menu-map {
  position: relative;
  display: flex;
  align-items: center;
  height: 110px;
  padding-left: 40px;
  border-bottom: 1px solid $defaultGrey;
}
.menu-name {
  font-family: "NotoSansKR-Medium";
  font-size: 14px;
}
.menu-price {
  margin-left: 30px;
  font-size: 12px;
  color: $defaultGrey;
}
.menu-image {
  position: absolute;
  right: 40px;
  width: 80px;
  height: 72px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.store-title {
  font-family: "NotoSansKR-Medium";
  font-size: 20px;

  color: $primaryColor;
}

.store-view-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 10px 0;
}
.store-view-image {
  width: 290px;
  height: 164px;
  object-fit: cover;
  margin-bottom: 30px;
  border-radius: 12px;
}

.store-furniture {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 34px;
}

.store-furniture-text {
  font-size: 16px;
  font-family: "NotoSansKR-Medium";
}

.store-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-chair {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
}

.store-seat-images {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.store-seat-image-box {
  display: flex;
  align-items: center;
  padding: 30px 0;
  padding-left: 64px;
  border-bottom: 1px solid $defaultGrey;
}

.store-seat-image {
  width: 202px;
  height: 114px;
  border-radius: 12px;
  object-fit: cover;
  margin-right: 40px;
}
.store-seat-image-text {
  font-family: "NotoSansKR-Medium";
  font-size: 20px;
  color: $primaryColor;
}

.review-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 374px 0 370px 0;
}

.review-text {
  font-family: "NotoSansKR-Medium";
  font-size: 14px;
  color: $primaryColor;
}
