.tab-container {
  width: 414px;
  margin: 0 auto;
}

.tab-buttons {
  display: flex;
}

.tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 40px;
  color: $defaultGrey;
  border-bottom: 1px solid $defaultGrey;
}

.tab-button-active {
  border-bottom: 2px solid $primaryColor;
}

.tab-button-text {
  font-weight: bold;
  font-size: 12px;
}

.tab-button-text-active {
  color: $primaryColor;
}

.tab-info-deactive {
  display: none;
}

.menu-tab {
  height: 800px;
}

.menu-title-box {
  display: flex;
  align-items: center;
  height: 62px;
  padding-left: 40px;
  border-bottom: 1px solid $defaultGrey;
}

.title-add-margin-top {
  padding-top: 10px;
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
  color: $primaryColor;
}
.menu-map {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 40px;
  border-bottom: 1px solid $defaultGrey;
}
.menu-name {
  font-size: 14px;
}
.menu-price {
  margin-left: 30px;
  font-size: 12px;
  color: $defaultGrey;
}

.store-tab {
  height: 1000px;
}
.store-title-box {
  display: flex;
  align-items: center;
  height: 62px;
  padding-left: 40px;
  border-bottom: 1px solid $defaultGrey;
}
.store-title {
  font-size: 20px;
  font-weight: bold;
  color: $primaryColor;
}

.store-seat-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 228px;
}
.store-seat-image {
  width: 322px;
  height: 184px;
  background-color: $defaultGrey;
  border-radius: 12px;
}

.store-furniture {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 34px;
}
.store-table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-table-text {
  font-size: 16px;
  font-weight: bold;
}
.store-chair {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
}

.store-chair-text {
  font-size: 16px;
  font-weight: bold;
}

.store-images-box {
  display: flex;
  justify-content: center;
}
.store-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 334px;
  height: 314px;

  background-color: beige;
}

.store-image {
  width: 160px;
  height: 150px;
  background-color: white;
  border-radius: 12px;
  object-fit: cover;
}

.review-tab {
  height: 800px;
}

.review-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.review-text {
  font-weight: bold;
  font-size: 14px;
  color: $primaryColor;
}
