@font-face {
  font-family: "NotoSansKR-Thin";
  src: url(../fonts/NotoSansKR/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansKR-Light";
  src: url(../fonts/NotoSansKR/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansKR-Regular";
  src: url(../fonts/NotoSansKR/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansKR-Medium";
  src: url(../fonts/NotoSansKR/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url(../fonts/NotoSansKR/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../fonts/NotoSansKR/NotoSansKR-Black.otf) format("opentype");
}

* {
  font-family: "NotoSansKR-Regular";
  overscroll-behavior: none;
}

*::-webkit-scrollbar {
  scroll-behavior: smooth;
}

html {
  background-color: #1bab90;
}

#root {
  width: 100vw;
  height: 100vh;
  overscroll-behavior: none;
  background-color: #1bab90;
}

.page {
  width: 414px;
  margin: 0 auto;
  background-color: white;
}

.primary-color {
  color: #00705b;
}

.font-light {
  font-family: "NotoSansKR-Light";
}

.font-regular {
  font-family: "NotoSansKR-Regular";
}

.font-semibold {
  font-family: "NotoSansKR-Medium";
}

.font-bold {
  font-family: "NotoSansKR-Bold";
}

.empty-header-box {
  width: 100%;
  height: 61px;
}

.header-box {
  position: fixed;
  top: 0;
  width: 414px;
  height: 61px;
  background-color: #00705b;
  border-radius: 0 0 8px 8px;
  z-index: 99;
}

.rectangle {
  border-radius: 0;
}

.header-space {
  height: 18px;
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-go-back-button {
  position: absolute;
  top: 1px;
  left: 46px;
  color: white;
}

.header-menu-button {
  position: absolute;
  top: 6px;
  left: 46px;
  color: white;
}

.header-title {
  font-family: "NotoSansKR-Bold";
  font-size: 18px;
  color: white;
  margin: 0 auto;
}

.home-location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 286px;
  margin-top: -10px;
  background-color: #e5e5e5;
}

.home-location-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 322px;
  height: 216px;
}

.home-location-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 18px;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.16);
  background-color: white;
}

.home-location-item-text {
  font-family: "NotoSansKR-Medium";
  font-size: 15px;
  margin-top: 5px;
  color: #00705b;
}

.home-location-item-disabled {
  background-color: #fafafa;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.home-active-store-container {
  width: 354px;
  margin: 0 auto;
  margin-top: 30px;
}

.home-active-store-title {
  font-family: "NotoSansKR-Bold";
  font-size: 18px;
  color: #00705b;
}

.home-survey-container {
  position: relative;
  width: 374px;
  height: 114px;
  padding: 20px 0 20px 36px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #00705b;
  -webkit-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

.home-survey-title {
  display: block;
  font-family: "NotoSansKR-Bold";
  font-size: 10px;
  color: white;
  margin-bottom: 10px;
}

.home-survey-text {
  font-family: "NotoSansKR-Medium";
  font-size: 16px;
  color: white;
}

.home-survey-icon {
  position: absolute;
  top: 35px;
  right: 40px;
}

.home-crowdy-intro-container {
  position: relative;
  width: 374px;
  height: 124px;
  padding: 20px 0 20px 30px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 18px;
  -webkit-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.16);
}

.home-crowdy-intro-see-more-container {
  position: absolute;
  top: 22px;
  right: 26px;
}

.home-crowdy-intro-see-more-text {
  font-size: 8px;
  margin-right: 4px;
}

.home-crowdy-intro-see-more-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home-crowdy-intro-title {
  display: block;
  font-family: "NotoSansKR-Medium";
  font-size: 18px;
  margin-bottom: 10px;
}

.home-crowdy-intro-question {
  font-family: "NotoSansKR-Bold";
  color: #00705b;
}

.home-crowdy-intro-text {
  font-family: "NotoSansKR-Light";
  font-size: 14px;
}

.home-crowdy-intro-icon {
  position: absolute;
  top: 35px;
  right: 40px;
}

.store-list-container {
  margin: 0 auto;
  padding: 0 10px;
}

.store-list-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 354px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.store-list-header-map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 42px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.store-list-header-filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  height: 42px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.store-list-header-map-text {
  margin-left: 10px;
  font-size: 16px;
}

.store-list-store-container {
  width: 354px;
  margin: 0 auto;
}

.store-list-store-title {
  font-size: 13px;
  color: #00705b;
}

.store-list-store-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 354px;
  height: 98px;
  margin-top: 26px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.store-header-review-compact {
  font-family: "NotoSansKR-Light";
  font-size: 10px;
}

.detail-container {
  margin: 0 auto;
  padding: 0 10px;
}

.detail-see-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 324px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.detail-see-map-text {
  margin-left: 10px;
  font-size: 16px;
}

.store-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  margin: 0 auto;
}

.back-button {
  position: absolute;
  top: 46px;
  left: -10px;
}

.back-button-icon {
  margin-left: 10px;
}

.store-header-logo {
  width: 70px;
  border-radius: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.store-header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
  margin-left: 18px;
}

.store-header-hashtag {
  font-size: 9px;
  color: #00705b;
  margin-bottom: -2px;
}

.store-header-title {
  font-family: "NotoSansKR-Medium";
  margin-bottom: 3px;
  font-size: 18px;
}

.store-header-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-header-review-text {
  font-size: 12px;
}

.store-header-crowdy-box-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 32px;
  border: 0.6px solid #adadad;
  border-radius: 6px;
  margin: 2px 0 5px 0;
}

.crowdy-box-active {
  border: 0.6px solid #00705b;
}

.store-header-crowdy-open {
  font-family: "NotoSansKR-Bold";
  color: #00705b;
  font-size: 15px;
}

.store-header-crowdy-close {
  font-family: "NotoSansKR-Bold";
  color: #adadad;
  font-size: 15px;
}

.store-header-crowdy-status-live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-header-crowdy-status-live-text {
  font-size: 10px;
  color: #adadad;
  margin-right: 4px;
}

.crowdedness-green {
  color: #00705b;
}

.crowdedness-blue {
  color: #2c55ff;
}

.crowdedness-orange {
  color: #ff9c29;
}

.crowdedness-red {
  color: #ff2c65;
}

.store-sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-sub-header-margin-left {
  margin-left: 8px;
}

.store-default-text {
  font-size: 14px;
}

.store-sub-header-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 310px;
  height: 20px;
  margin-bottom: 10px;
}

.store-sub-header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-sub-header-second {
  width: 310px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-sub-header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-sub-header-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-sub-header-open-text-box {
  font-size: 14px;
  margin-left: 6px;
}

.store-sub-header-open-text {
  margin-left: 4px;
}

.store-images-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.store-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 328px;
  height: 308px;
}

.store-image {
  width: 154px;
  height: 144px;
  background-color: white;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-see-more-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 32px 20px 0;
}

.detail-see-more-image-text {
  font-family: "NotoSansKR-Medium";
  font-size: 12px;
  margin-right: 4px;
  color: #adadad;
}

.detail-see-more-image-icon {
  margin-top: 3px;
}

.tab-container {
  width: 414px;
  margin: 0 auto;
}

.fixed-active {
  position: fixed;
  top: 51px;
  width: 414px;
  padding-top: 10px;
  background-color: white;
  z-index: 1;
}

.tab-content-anchor {
  width: 100%;
  height: 82px;
  background-color: white;
}

.tab-content-anchor-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.tab-content-anchor-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.tab-content-anchor-text {
  font-family: "NotoSansKR-Regular";
  font-size: 12px;
  color: #00705b;
  padding: 7.4px 14px;
}

.empty-tab-buttons {
  width: 100%;
  height: 123px;
}

.tab-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33%;
  height: 40px;
  color: #adadad;
  border-bottom: 1px solid #adadad;
}

.tab-button-active {
  border-bottom: 2px solid #00705b;
}

.tab-button-text {
  font-weight: bold;
  font-size: 12px;
}

.tab-button-text-active {
  color: #00705b;
}

.deactivated {
  display: none;
}

.menu-tab {
  padding-bottom: 30px;
}

.tab-content-title-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding: 0 40px;
  border-bottom: 1px solid #adadad;
  border-top: 1px solid #adadad;
}

.title-add-margin-top {
  padding-top: 10px;
}

.tab-title {
  font-family: "NotoSansKR-Bold";
  font-size: 20px;
  color: #00705b;
}

.menu-size {
  position: absolute;
  right: 30px;
  font-family: "NotoSansKR-Light";
  font-size: 12px;
  color: #00705b;
}

.menu-scroll-box {
  height: 334px;
  overflow-y: scroll;
}

.menu-scroll-box::-webkit-scrollbar {
  display: none;
}

.menu-map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 414px;
  padding: 0 40px;
  border-bottom: 1px solid #adadad;
}

.menu-name {
  font-family: "NotoSansKR-Bold";
  font-size: 14px;
  padding: 30px 0;
}

.menu-price {
  margin-left: 30px;
  font-size: 12px;
  color: #adadad;
}

.menu-image {
  width: 80px;
  height: 72px;
  margin: 19px 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

.store-title {
  font-family: "NotoSansKR-Medium";
  font-size: 20px;
  color: #00705b;
}

.store-view-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 10px 0;
}

.store-view-image {
  width: 290px;
  height: 164px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
  border-radius: 12px;
}

.store-furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 34px;
}

.store-furniture-text {
  font-size: 16px;
  font-family: "NotoSansKR-Medium";
}

.store-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-chair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14px;
}

.store-seat-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.store-seat-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  padding-left: 64px;
  border-bottom: 1px solid #adadad;
}

.store-seat-image {
  width: 202px;
  height: 114px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 40px;
}

.store-seat-image-text {
  font-family: "NotoSansKR-Medium";
  font-size: 20px;
  color: #00705b;
}

.review-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 795px;
  padding: 374px 0 370px 0;
}

.review-text {
  font-family: "NotoSansKR-Medium";
  font-size: 14px;
  height: 80px;
  color: #00705b;
}

.crowdy-container {
  position: relative;
  width: 414px;
  height: 840px;
  margin: 0 auto;
  background-color: white;
}

.survey-container {
  position: relative;
  width: 414px;
  height: 1120px;
  margin: 0 auto;
  background-color: white;
}

.menu-back-button-icon {
  position: absolute;
  top: 52px;
  left: 46px;
  cursor: pointer;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crowdy-header-logo {
  height: 62px;
  margin: 40px 0 20px 0;
}

.menu-header-text {
  font-size: 22px;
  color: #00705b;
  margin-bottom: 50px;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 334px;
  margin: 0 auto;
}

.menu-content-title {
  font-family: "NotoSansKR-Medium";
  font-size: 18px;
}

.menu-content-text {
  font-family: "NotoSansKR-Light";
  font-size: 16px;
}

.menu-content-title-space {
  margin-bottom: 40px;
}

.menu-content-text-space {
  margin-bottom: 30px;
}

.menu-content-paragraph-space {
  margin-bottom: 60px;
}

.admin-login-container {
  position: relative;
  width: 414px;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.admin-login-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 354px;
  height: 300px;
}

.admin-login-header {
  font-size: 14px;
  margin-bottom: 48px;
}

.admin-login-input {
  width: 210px;
  padding: 4px;
  margin-bottom: 30px;
  border: none;
  border-bottom: solid 1px #adadad;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.admin-login-input:focus {
  outline-style: none;
  outline-color: transparent;
  border-bottom: solid 1.6px #00705b;
}

.admin-login-input:focus::-webkit-input-placeholder {
  color: #00705b;
}

.admin-login-input:focus:-ms-input-placeholder {
  color: #00705b;
}

.admin-login-input:focus::-ms-input-placeholder {
  color: #00705b;
}

.admin-login-input:focus::placeholder {
  color: #00705b;
}

.admin-login-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #00705b;
  margin-top: 10px;
}

.admin-login-button-text {
  font-size: 16px;
  font-family: "NotoSansKR-Bold";
  color: white;
}

.toggle-off {
  position: absolute;
  top: 0;
  left: 0;
  width: 354px;
  height: 348px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.admin-control-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 354px;
  border: 1px solid #00705b;
  border-radius: 8px;
}

.admin-control-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 36px 0;
}

.admin-control-header-logo {
  width: 70px;
  border-radius: 35px;
}

.admin-control-header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 130px;
  margin-left: 16px;
}

.admin-control-header-title {
  font-family: "NotoSansKR-Medium";
  margin-bottom: 4px;
  font-size: 16px;
}

.admin-control-header-branch {
  font-family: "NotoSansKR-Regular";
  font-size: 10px;
}

.admin-control-header-space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.admin-control-header-toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 30px;
  border-radius: 15px;
  background-color: #adadad;
  cursor: pointer;
  z-index: 99;
}

.admin-control-header-toggle-circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: 0 22px 0 0;
  background-color: white;
}

.toggle-on {
  background-color: #00705b;
}

.toggle-on div {
  margin: 0 0 0 22px;
}

.admin-control-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 228px;
}

.admin-control-status-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-control-status-first {
  font-size: 14px;
  margin-bottom: 4px;
}

.admin-control-status-second {
  font-family: "NotoSansKR-Bold";
  font-size: 22px;
  color: #00705b;
  margin-bottom: 42px;
}

.admin-control-count-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.white-minus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.background-red {
  background-color: #ff2c65;
}

.background-green {
  background-color: #00705b;
}

.image-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-touch-action: none;
      touch-action: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.iamge-modal-container {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-modal-close {
  position: absolute;
  top: 46px;
  right: 50px;
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bottom-sheet {
  position: relative;
}

.bottom-sheet-store-container {
  width: 414px;
  top: 18px;
}

.bottom-sheet-store-list-button {
  position: absolute;
  top: -60px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 118px;
  height: 42px;
  border-radius: 8px;
  background-color: white;
  z-index: 99;
}

.bottom-sheet-store-list-button-text {
  margin-left: 10px;
}

.bottom-sheet-current-location-button {
  position: absolute;
  top: -60px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 20px;
  background-color: white;
  z-index: 99;
}

.bottom-sheet-store-images-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-sheet-store-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 292px;
  height: 208px;
}

.bottom-sheet-store-image {
  width: 142px;
  height: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-sheet-detail-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 234px;
  height: 36px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.bottom-sheet-detail-button-text {
  font-family: "NotoSansKR-Medium";
  font-size: 14px;
}

.map-search-bar-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 371px;
  height: 41px;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  background-color: white;
  z-index: 99;
}

.map-search-bar-text {
  color: #adadad;
  margin-left: 22px;
}

.drawer-item-box {
  padding: 10px 30px;
}

.drawer-item-box:hover {
  background: rgba(0, 112, 91, 0.1);
}

.drawer-item-text {
  font-size: 18px;
}

.drawer-item-text-expression {
  font-family: "NotoSansKR-Medium";
  font-size: 20px;
  color: #00705b;
}
/*# sourceMappingURL=style.css.map */