@font-face {
  font-family: "NotoSantsKR-Thin";
  src: url(../fonts/NotoSansKR/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
  font-family: "NotoSantsKR-Light";
  src: url(../fonts/NotoSansKR/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "NotoSantsKR-Regular";
  src: url(../fonts/NotoSansKR/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "NotoSantsKR-Medium";
  src: url(../fonts/NotoSansKR/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "NotoSantsKR-Bold";
  src: url(../fonts/NotoSansKR/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "NotoSantsKR-Black";
  src: url(../fonts/NotoSansKR/NotoSansKR-Black.otf) format("opentype");
}

$primaryColor: #00705b;
$defaultGrey: #adadad;
$defaultRed: #ff2c65;
$defaultBlue: #2c55ff;

* {
  font-family: "NotoSantsKR-Regular";
  overscroll-behavior: none;
  &::-webkit-scrollbar {
    scroll-behavior: smooth;
  }
}

#root {
  overscroll-behavior: none;
  background-color: #00705bb9;
}

.primary-color {
  color: $primaryColor;
}

.font-light {
  font-family: "NotoSantsKR-Light";
}

.font-regular {
  font-family: "NotoSantsKR-Regular";
}

.font-semibold {
  font-family: "NotoSantsKR-Medium";
}

.font-bold {
  font-family: "NotoSantsKR-Bold";
}

@import "./Header";
@import "./StoreDetail";
@import "./Tabs";
@import "./Menus";
@import "./AdminLogin";
@import "./ImageModal";
@import "./BottomSheet";

:export {
  primaryColor: $primaryColor;
  defaultGrey: $defaultGrey;
}
