@font-face {
  font-family: "NotoSansKR-Thin";
  src: url(../fonts/NotoSansKR/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Light";
  src: url(../fonts/NotoSansKR/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url(../fonts/NotoSansKR/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Medium";
  src: url(../fonts/NotoSansKR/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Bold";
  src: url(../fonts/NotoSansKR/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../fonts/NotoSansKR/NotoSansKR-Black.otf) format("opentype");
}

$primaryColor: #00705b;
$defaultGrey: #adadad;
$defaultRed: #ff2c65;
$defaultBlue: #2c55ff;
$defaultOrange: #ff9c29;

* {
  font-family: "NotoSansKR-Regular";
  overscroll-behavior: none;
  &::-webkit-scrollbar {
    scroll-behavior: smooth;
  }
}
html {
  background-color: #1bab90;
}

#root {
  width: 100vw;
  height: 100vh;
  overscroll-behavior: none;
  background-color: #1bab90;
}

.page {
  width: 414px;
  margin: 0 auto;
  height: 800px;
  background-color: white;
}

.primary-color {
  color: $primaryColor;
}

.font-light {
  font-family: "NotoSansKR-Light";
}

.font-regular {
  font-family: "NotoSansKR-Regular";
}

.font-semibold {
  font-family: "NotoSansKR-Medium";
}

.font-bold {
  font-family: "NotoSansKR-Bold";
}

@import "./Header";
@import "./Home";
@import "./StoreList";
@import "./StoreDetail";
@import "./Tabs";
@import "./Menus";
@import "./AdminLogin";
@import "./ImageModal";
@import "./BSheet";
@import "./MapSearchBar";
@import "./Drawer";
@import "./Map";
@import "./ispinner";
